body { 
	background: #0D151F url('http://peterrobie.com/test_bed/html5fu/assets/img/background_tile_2.jpg');
	font: 10pt halvetica, arial; 
	color: #fff;
	line-height: 1.25em;
	margin: 0; 
	padding: 0;
}

.alert{color: red;}

#wrapper {width: 800px; margin: 0 auto 50px auto; border: 0px solid red;}
img:hover {cursor: pointer;}
img#logo {margin: 20px;}
.img {width: 100%;}
.img_container { background: #000; float: left; border: 5px solid black; height: 220px; width: 360px; overflow: hidden; margin: 20px 10px;}

/* header { width: 580px;} */

/* Status - title message */
h3 { /* margin: 0 10px; */ padding-top: 10px; }
h5 { margin: 0 10px; padding-top: 5px; }


/* Current Location */
div#current_location { position: absolute; top: 4px; width: 400px; height: auto; margin-left: 364px; padding: 0 10px 20px 20px; background: #333; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

/* Google Map */
#map_canvas, #map_canvas2 {width: 755px; height: 400px;}

footer { display: block; position: relative; bottom: 0; height: 50px; width: 100%; text-align: center; }
